* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}


html, body {
    margin: 0px;
    height: 100%;
    z-index: 0;
 }

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(21, 20, 29);
    height: 100%;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255)
}

.mainwrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.secondwrapper {
    width: 400%;
}


.link {
    height: 70px;
    width: 70px;
    border: 0px solid rgba(255, 255, 255, 0); 
    background-color: rgba(255, 255, 255, 0);

    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: 30px;

    border-radius: 35px;
    
}

.buttons {
    padding-top: 20px;
    padding-left: 50px;
    height: 400%;
    display: flex;
    align-items: center;

    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 25px;
}

.btn {
    left: 1470px;
    top: 35px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 25px;
    padding-top: 6px;
    padding-bottom: 3px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    position:absolute;
}

.mainPage {
    position: absolute;
    top: 100%;
}

.secondPage {
    position: absolute;
    top: 200%;
}

.gameimage {
    height: 150px;
    width: 150px;
}

.btn {
    position: fixed;
    top: 40px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    appearance: none;
    background-color: rgb(255,255,255, 0);
    border: 0.8px solid rgb(255, 255, 255, 0.6);;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px 40px;
    display: flex;
    align-self: center;
    font-size: 17px;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    transition-property:  transform, box-shadow;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);  
    z-index: 15;
    
}



.btn:hover {
    transform: translate(0, -5px);
    box-shadow: 0 -1px 30px 0 rgba(97, 97, 97, 0.63), 0 1px 30px rgba(97, 97, 97, 0.63);

    transition-property:  transform, box-shadow;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

.Logo {
    top: 50%;
    left: 50%;

    width:70px;
    height:70px;
    position: absolute;

    transition-property: width, height, margin-top, margin-left;
    transition-duration: 0.8s, 0.8s, 0.3s, 0.8s;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    filter: invert(0.9);
}

.Logo:hover {
    top: 50%;
    left: 50%;
    
    width:90px;
    height:90px;

    margin-top: -20px;
    margin-left: -10px;
    transition-property: width, height, margin-top, margin-left;
    transition-duration: 0.8s, 0.8s, 0.3s, 0.8s;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

.gamename {
    width:500px;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    position:absolute;
    font-weight: 1500;
    text-decoration: none;
    margin-top: 0px;
    margin-left: 10px;
} 

.gamedescription {
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    position:absolute;
    text-decoration: none;
    margin-top: 25px;
    margin-left: 10px;
} 

.experiencetype {
    color: rgba(255, 255, 255, 0.98);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    position:absolute;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 10px;
}

.gamelink {
    color: rgba(45, 218, 137, 0.788);
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    position:absolute;
    text-decoration: none;
    margin-top: 95px;
    margin-left: 10px;
    background-color: rgba(66, 204, 66, 0.1);
    border-radius: 5px;
    outline-color: rgba(88, 223, 129, 0.253);
    outline-style: solid;
    outline-width: 0.5px;

    transition-property: box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

.gamelink:hover {
    box-shadow: 0 0 10px 0.5px rgba(50, 230, 26, 0.5), 0 0 10px 0.5px rgba(50, 230, 26, 0.5);

    transition-property: box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

.discordinvite {
    color: rgba(45, 114, 218, 0.788);
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    position:absolute;
    text-decoration: none;
    margin-top: 125px;
    margin-left: 10px;
    background-color: rgba(80, 66, 204, 0.1);
    border-radius: 5px;
    outline-color: rgba(88, 180, 223, 0.253);
    outline-style: solid;
    outline-width: 0.5px;

    transition-property: box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);   
}

.discordinvite:hover {
    box-shadow: 0 0 10px 0.5px rgba(56, 75, 248, 0.5), 0 0 10px 0.5px rgba(56, 75, 248, 0.5);

    transition-property: box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}


.gamename:link, .gamename:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .gamename:link:active, .gamename:visited:active {
    color: rgb(255, 0, 0);
  }

.about {
    font-size: 16px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Mono', monospace;
}

.lang {
    font-size: 16px;
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    color: rgb(24, 95, 250);
    font-weight: bold;
}

#aboutme {
    width:500px;
    position: absolute;
    top: 90%;
    margin-left: 15px;
    margin-top: -35px;

    transition: opacity 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}

#SocialText {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 80px;
    margin-left: -55px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    color: rgba(0, 0, 0, 0);
}

#btn-1 {
    margin-left: 200px;
}

#btn-2 {
    margin-left: 0px;
}

#skill {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -58px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

#grid-container {
    grid-template-columns: 400px 480px auto;
    position: absolute;
    top: 150%;
    left: 26%;
    margin-top: -250px;
    margin-left: -165px;
    font-size: 20px;
    display: grid;
};



.myAnimation {
    background:red;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  height:100vh;
}



#Extra {
    position:fixed; 
    text-align: left;
    top: 96.5%;
    text-anchor: end;
    left: 91%;
    margin-top: 0px;
    margin-left: 50px;
    width: 100px;
    text-align: right;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    white-space: nowrap;
    color: rgb(255, 255, 255);
}

#games {
    position: absolute;
    top: 150%;
    left: 50%;
    margin-top: -350px;
    margin-left: -65px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 40px;    
    color: rgb(255, 255, 255);
}

#gifcontainer {
    display: flex;
    justify-content: center;
}


#gif {
    width: 50%;
    position: fixed;
    z-index: 0.5;
    opacity: 0.02;
    filter: blur(15px);
}

#bestwork {
    position: absolute;
    top: 250%;
    left: 50%;
    margin-top: -350px;
    margin-left: -65px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

#GitHubImage {
    margin-left: -130px;
}

#RobloxImage {
    margin-left: -40px;
}

#Twitterimage {
    margin-left: 50px;
}

#Discordimage {
    margin-left: 140px;
    cursor: pointer;
}